body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../Assets/Rims.jpg);
}
h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 100px!important;
}

h3 {
    padding-top: 300px;
    color: whitesmoke;
    text-align: center;
}