@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.navbar {
    background-color: #333333!important;
}

.navbar-brand, .nav-link {
    color: navajowhite !important;
    font-weight: bolder;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../Assets/Interior.jpg) !important;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.index-body {
    text-align: center;
    padding: 20px;
}

.jumbotron {
    color: #333333;
    background-image: radial-gradient( 100% 100% at 100% 0, white 0, #5FA0AD 100% )!important;
    font-family: 'Monoton', cursive;
    padding-bottom: 15px;
}

.index {
    margin-top: 20%;
    margin-left: 20%;
}

.index a {
    align-items: center;
    appearance: none;
    background-image: radial-gradient( 100% 100% at 100% 0, white 0, #5FA0AD 100% );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-left: 20px;
}

    .index a:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .index a:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

    .index a:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
