@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.navbar {
    background-color: #333333!important;
}

.navbar-brand, .nav-link {
    color: navajowhite !important;
    font-weight: bolder;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../Assets/Interior.jpg) !important;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.index-body {
    text-align: center;
    padding: 20px;
}

.jumbotron {
    color: #333333;
    background-image: radial-gradient( 100% 100% at 100% 0, white 0, #5FA0AD 100% )!important;
    font-family: 'Monoton', cursive;
    padding-bottom: 15px;
}

.index {
    margin-top: 20%;
    margin-left: 20%;
}

.index a {
    align-items: center;
    appearance: none;
    background-image: radial-gradient( 100% 100% at 100% 0, white 0, #5FA0AD 100% );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-left: 20px;
}

    .index a:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .index a:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

    .index a:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(4s5, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    /*      The Alsume Starts Here     */
.allcontain {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #191919;
}

    .header .container {
        padding: 0px;
    }

.logout {
    color: white;
    margin-left: 5px;
    background: black;
}

.socialicon {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding-left: 11.2%;
}

    .socialicon > li {
        float: left;
        padding-top: 2px;
    }

        .socialicon > li > a {
            padding-right: 10px;
            color: #fff;
            text-decoration: none;
        }

            .socialicon > li > a:hover {
                color: #c59e47;
            }

.givusacall {
    list-style-type: none;
    display: inline-block;
    letter-spacing: 1px;
    font-family: "BebasNeue Regular";
    font-size: 12.7px;
    color: #e7e7e7;
    margin-bottom: 0px;
    padding-left: 26.1%;
}

    .givusacall > li {
        float: right;
    }

.logreg {
    list-style-type: none;
    display: inline-block;
    font-family: "BebasNeue Regular";
    font-size: 9pt;
    color: #e7e7e7;
    margin-bottom: 0px;
    padding-left: 23%;
}

    .logreg > li {
        float: left;
    }

        .logreg > li > a {
            text-decoration: none;
            color: #e7e7e7;
            padding-right: 6px;
        }

            .logreg > li > a:hover {
                color: #c59e47;
            }

    .logreg .register {
        border-left: 1px solid #e7e7e7;
        padding-left: 6px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

@media screen and (max-width: 825px) {
    .socialicon {
        padding-left: 5%;
    }

    .givusacall {
        padding-left: 15%;
    }
}

@media screen and (max-width: 555px) {
    .givusacall {
        padding-left: 10%;
    }

    .logreg {
        padding-left: 13%;
    }
}

@media screen and (max-width: 440px) {
    .givusacall {
        padding-left: 3%;
        font-size: 11px;
    }

    .logreg {
        padding-left: 8%;
        font-size: 11px;
    }

    .socialicon > li {
        font-size: 11px;
    }

    .socialicon {
        padding-left: 0px;
    }
}

.logo {
    position: absolute;
    float: left;
    z-index: 999;
    width: 124px;
    height: 124px;
    padding-top: 9px;
}

.topnav {
    background: none;
}

.topnavbar .container {
    margin-left: 107px !important;
}

.toggle-costume {
    float: left;
}

#navbarontop {
    padding-left: 312px;
    padding-top: 17px;
    height: 69px;
}

@font-face {
    font-family: "BebasNeue Regular";
    src: url(../source/fonts/BebasNeue-Regular.otf) format("truetype");
}

#navbarontop > li > a {
    font-family: "BebasNeue Regular";
    font-size: 17px;
    color: #313943;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px !important;
    margin-left: 34px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

    #navbarontop > li > a:hover {
        background-color: none !important;
        background: none !important;
        border-bottom: 2px solid #c59e47;
    }

#navbarontop > button {
    background: none;
    background-color: none;
    border: 2px solid #c59e47;
    font-family: "BebasNeue Regular";
    margin-left: 60px;
    font-size: 16.99px;
    color: #313943;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: -2px;
    padding-bottom: -2px;
}

    #navbarontop > button:hover {
        background-color: #c59e47;
        color: #fff;
    }

.dropdowncostume {
    margin-left: 0px;
}

.navbar-default .toggle-costume:hover,
.navbar-default .toggle-costume:focus {
    background-color: #000;
}

.navbar-default .toggle-costume.icon-bar {
    background-color: #fff;
}

.navbar-default .toggle-costume:hover .icon-bar {
    background-color: #fff;
}

#navbarontop .open > a,
#navbarontop .open > a:hover,
#navbarontop .open > a:focus {
    background-color: none !important;
    border-color: #c59e47;
}

#navbarontop a:focus {
    outline: none;
    border-bottom: 2px solid #c59e47;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    font-family: "BebasNeue Regular";
    font-size: 13pt;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #fff;
    }

.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

/*----------------- Navbar On Top Media screen -------------*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .dropdowncostume {
        padding-left: 0px;
        margin-left: 0px;
    }

    .topnavbar .container {
        margin-left: 10px !important;
    }

    .logo {
        position: absolute;
        top: 0px;
        padding-top: 9px;
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
        transform: scale(0.5);
    }

    .toggle-costume {
        float: right;
    }

    #navbarontop {
        padding-left: 0px;
        padding-top: 26px;
        height: 250px;
    }

        #navbarontop > li > a {
            margin-left: 0px;
            padding-left: 50px;
            font-size: 13pt;
            margin-bottom: 10px;
        }

        #navbarontop > button {
            margin-left: 50px;
        }

    .navbar-default .navbar-nav .open .dropdowncostume > li > a {
        text-align: left;
        margin-left: 40px;
    }

    #upmenu {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .topnavbar .container {
        margin-left: 10px !important;
    }

    .toggle-costume {
        float: right;
    }

    #navbarontop > button {
        margin-left: 50px;
    }

    .logo {
        position: absolute;
        top: 10px;
        padding-top: 9px;
        -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.7); /* FF3.5+ */
        -ms-transform: scale(0.7); /* IE9 */
        -o-transform: scale(0.7); /* Opera 10.5+ */
        transform: scale(0.7);
    }

    #navbarontop {
        padding-left: 0px;
        padding-top: 40px;
        height: 250px;
    }

        #navbarontop > li > a {
            margin-left: 0px;
            padding-left: 50px;
            font-size: 13pt;
            margin-bottom: 10px;
        }

    .navbar-default .navbar-nav .open .dropdowncostume > li > a {
        text-align: left;
        margin-left: 40px;
    }

    #upmenu {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .topnavbar .container {
        margin-left: 50px !important;
    }

    #navbarontop {
        padding-left: 25%;
    }

        #navbarontop > li > a {
            padding-bottom: 6px;
            margin-bottom: 22px;
            padding-left: 0px;
            padding-right: 0px !important;
            margin-left: 20px;
        }
}
