html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#range {
    width: 350px;
    height: 200px;
}

.button-container index {
    margin-top: 50px;
}

.index{
    margin-top: 20%;
    margin-left: 20%;
}

.welcome-text
{
    margin-top: 10%;
}

.index a {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .index a:hover {
        background-color: #555;
    }
