@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This is a Car Enthusiast Website</h2>

        <p>We have a whole range of cars for viewership including the one beside</p>
    </div>
    <div class="col-md-4 align-content-center">
        <img id="range" src="~/Assets/Range.jpg"/>
    </div>
    <div class="col-md-4">
        <p>
           <strong>You can view more by signing up for our amazing website.</strong>
        </p>
    </div>
</div>

