@{
    ViewData["Title"] = "Home Page";
}

@section css {
    <link href="@Url.Content("~/css/landingpage.css")" rel="stylesheet" />
}

<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
</div>

<h3>CAR ENTHUSIAST</h3>

