body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../Assets/Rims.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.index-body{
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}