@using Microsoft.AspNetCore.Identity
@using System.Net.Mail

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style2.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">

    <div class="wrapper">

        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a asp-controller="Cars" asp-action="Land">Cars</a>
                    </li>
                    <li>
                        <a asp-controller="Chat" asp-action="Chat">Chat</a>
                    </li>
                    <li>
                        <a asp-controller="Chat" asp-action="Groups">Groups</a>
                    </li>
                </ul>

            </nav>
        </div>


        <div id="content">


            <!-- section -->
            <section id="home" class="top_section">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- header -->
                        <header>
                            <!-- header inner -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 logo_section">
                                        <div class="full">
                                            <div class="center-desk">
                                                <div class="logo">
                                                    <a href="index.html"><img src="~/Assets/logo.png" alt="#"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="right_header_info">
                                            <ul>
                                                @if (SignInManager.IsSignedIn(User))
                                                {
                                                    MailAddress email = new MailAddress(UserManager.GetUserName(User));
                                                    var username = email.User;
                                                    <li>
                                                        <img style="margin-right: 15px;" src="~/Assets/images/mail_icon.png" alt="#" /><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = ""})">@username</a>
                                                    </li>
                                                    <li>
                                                        <button type="button" id="sidebarCollapse">
                                                            <img src="~/Assets/images/menu_icon.png" alt="#" />
                                                        </button>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <img style="margin-right: 15px; color: white;" src="~/Assets/images/mail_icon.png" alt="#" />Guest
                                                    </li>
                                                    <li>
                                                        <a class="" id="login" asp-area="Identity" asp-page="/Account/Login">
                                                            <img src="~/Assets/images/login.png" alt="#" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <button type="button" id="sidebarCollapse">
                                                            <img src="~/Assets/images/menu_icon.png" alt="#" />
                                                        </button>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end header inner -->
                        </header>
                        <section>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="full slider_cont_section">
                                            <h4>Welcome</h4>
                                            <h3>Enthusiasts</h3>
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable
                                                content of a page when looking at its layout.
                                            </p>
                                            <div class="button_section">
                                                @if (SignInManager.IsSignedIn(User))
                                                {
                                                    <a asp-controller="Cars" asp-action="Land">Cars</a>
                                                    <a asp-controller="Chat" asp-action="Chat">Chat</a>
                                                }
                                                else
                                                {
                                                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div id="slider_main" class="carousel slide" data-ride="carousel">
                                            <!-- The slideshow -->
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="~/Assets/images/slider_1.png" alt="#" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Assets/images/slider_2.png" alt="#" />
                                                </div>
                                            </div>
                                            <div class="full center">
                                                <a class="carousel-control-prev" href="#slider_main" data-slide="prev">
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                </a>
                                                <a class="carousel-control-next" href="#slider_main" data-slide="next">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- end header -->
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <div id="about" class="section layout_padding">
                <div class="container">

                    <div class="row">

                        <div class="col-lg-4 margin_top_30">
                            <div class="full margin_top_30">
                                <h3 class="main_heading _left_side margin_top_30">Privacy Policy</h3>
                                <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod..</p>
                            </div>
                            <div class="full button_section margin_top_30">
                                <a asp-controller="Home" asp-action="Privacy">Read More</a>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="full margin_top_50_rs">
                                <img class="img-responsive" src="~/Assets/images/about_us.png" alt="#" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- end section -->
            <!-- section -->
            <div class="section layout_padding padding_top_0">
                <div class="container">

                    <div class="row">

                        <div class="col-lg-8">
                            <div class="full text_align_right r-img">
                                <img class="img-responsive" src="~/Assets/images/about_us_2.png" alt="#" />
                            </div>
                        </div>

                        <div class="col-lg-4 margin_top_30">
                            <div class="full margin_top_30">
                                <h3 class="main_heading _left_side margin_top_30">Your Cars</h3>
                                <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod..</p>
                            </div>
                            <div class="full button_section margin_top_30">
                                <a asp-controller="Cars" asp-action="Gallery">See More</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- end section -->
            <!-- section -->
            <div class="cpy_right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <p>
                                    © 2023 All Rights Reserved. Design by <a href="">Slimeto</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>

    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- Scrollbar Js Files -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: { lat: 40.645037, lng: -73.880224 },
            });

            var image = 'images/location_point.png';
            var beachMarker = new google.maps.Marker({
                position: { lat: 40.645037, lng: -73.880224 },
                map: map,
                icon: image
            });
        }
    </script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
    <!-- end google map js -->

</body>

</html>