@model CarEnthusiast.Models.CarViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Add a car</h3>
    </div>
    <form role="form" asp-action="Create" asp-controller="Cars" enctype="multipart/form-data" method="post">
    <div class="card-body">
        <table class="table">
            <tr>
                <td>
                    <p>Make</p>
                </td>
                <td>
                        <input type="text" name="Make" asp-for="Make" class="form-control w-50" />
                        <span asp-validation-for="Make" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Model</p>
                </td>
                <td>
                        <input type="text" name="Model" asp-for="Model" class="form-control w-50" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Year</p>
                </td>
                <td>
                        <input name="Year" asp-for="Year" class="form-control w-50" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Image</p>
                </td>
                <td>
                        <input type="file" name="Image" asp-for="Image" class="form-control w-50" accept="image/*" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Showroom</p>
                </td>
                <td>
                        <input type="text" asp-for="Showroom" class="form-control w-50" />
                        <span asp-validation-for="Showroom" class="text-danger"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
            <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
