@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="wide wow-animation">

<head>
    <!-- Site Title-->
    <title>Cars</title>
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="~/js/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CPacifico%7CRoboto+Slab:300,400">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Header-->
        <header class="page-head main-page">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap rd-navbar-default">
                <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth"
                    data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                    data-lg-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="100px"
                    data-lg-stick-up-offset="100px" data-auto-height="true" class="rd-navbar">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-nav-wrap-outer">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap"
                                    class="rd-navbar-toggle"><span></span></button>
                                <!-- RD Navbar Brand--><a asp-controller="Home" asp-action="Index" class="rd-navbar-brand">
                                    <div class="brand-name"><span> Enthu</span><span class="text-primary">siast</span></div>
                                </a>
                            </div>
                        </div>
                        <!-- RD Navbar Nav-->
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="active"><a asp-controller="Cars" asp-action="Index">Cars</a>
                                </li>
                                <li><a>Chat</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown">
                                        <li><a asp-controller="Chat" asp-action="Groups">Groups</a>
                                        </li>
                                        <li><a asp-controller="Chat" asp-action="Chat">Group Chat</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Cars" asp-action="Add">Post Car</a>
                                </li>
                                <li><a asp-controller="Cars" asp-action="Gallery">Gallery</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Page Content-->
        <main class="page-content">
            <!-- Swiper variant 3-->
            <section class="bg-outer-space">
                <div class="swiper-variant-1 swiper-mod-1">
                    <div data-slide-effect="slide" data-min-height="600px" class="swiper-container swiper-slider">
                        <div class="swiper-wrapper">
                            <div data-slide-bg="/Assets/images/home-slide-1-2050x1337.jpg" class="swiper-slide">
                                <div class="swiper-slide-caption text-center">
                                    <div class="shell">
                                        <div class="range range-sm-middle">
                                            <div class="cell-xs-12">
                                                <h2 data-caption-animate="fadeInUpSmall" data-caption-delay="100"
                                                    class="text-uppercase active">Do you love cars?</h2>
                                                <p data-caption-animate="fadeInUpSmall" data-caption-delay="600"
                                                    class="offset-top-15 text-uppercase active">I mean who doesn't
                                                </p><a href="#" data-caption-animate="fadeInUpSmall"
                                                    data-caption-delay="800"
                                                    class="btn btn-white offset-top-20 offset-md-top-50">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-slide-bg="/Assets/images/home-slide-2-2050x1337.jpg" class="swiper-slide">
                                <div class="swiper-slide-caption text-center">
                                    <div class="shell">
                                        <div class="range range-sm-middle">
                                            <div class="cell-xs-12">
                                                <h2 data-caption-animate="fadeInUpSmall" data-caption-delay="100"
                                                    class="text-uppercase active">This is the place.</h2>
                                                <p data-caption-animate="fadeInUpSmall" data-caption-delay="600"
                                                    class="offset-top-15 text-uppercase active">Meet fellow
                                                    car enthusiasts</p><a href="#" data-caption-animate="fadeInUpSmall"
                                                    data-caption-delay="800"
                                                    class="btn btn-white offset-top-20 offset-md-top-50">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-slide-bg="/Assets/images/home-slide-3-2050x1337.jpg" class="swiper-slide">
                                <div class="swiper-slide-caption text-center">
                                    <div class="shell">
                                        <div class="range range-sm-middle">
                                            <div class="cell-xs-12">
                                                <h2 data-caption-animate="fadeInUpSmall" data-caption-delay="100"
                                                    class="text-uppercase active">Have your own gallery</h2>
                                                <p data-caption-animate="fadeInUpSmall" data-caption-delay="600"
                                                    class="offset-top-15 text-uppercase active">Yes a gallery made for you
                                                    by you</p><a href="#" data-caption-animate="fadeInUpSmall"
                                                    data-caption-delay="800"
                                                    class="btn btn-white offset-top-20 offset-md-top-50">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Swiper Pagination-->
                        <div class="swiper-pagination-wrap">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="cp1"
                class="section-top-60 section-bottom-100 section-lg-top-120 section-lg-bottom-250 section-xl-bottom-450 bg-outer-space section-angle-outher-space">
                <div class="shell-fluid">
                    <div class="range range-xs-center range-index">
                        <div class="cell-sm-6 cell-lg-4">
                            <article class="thumbnail-variant-1">
                                <h3 class="title">Create</h3>
                                <div class="caption">
                                    <p class="list-index-counter"></p>
                                    <p>Add cars to your own gallery and view your collection</p><a asp-controller="Cars" asp-action="Add" class="link link-white btn-link">more info</a>
                                </div>
                            </article>
                        </div>
                        <div class="cell-sm-6 cell-lg-4 offset-top-40 offset-sm-top-0">
                            <article class="thumbnail-variant-1">
                                <h3 class="title">Chat</h3>
                                <div class="caption">
                                    <p class="list-index-counter"></p>
                                    <p>Chat with your fellow enthusiasts and discuss your car interests</p><a asp-controller="Chat" asp-action="Chat"
                                        class="link link-white btn-link">more info</a>
                                </div>
                            </article>
                        </div>
                        <div class="cell-sm-6 cell-lg-4 offset-top-40 offset-lg-top-0">
                            <article class="thumbnail-variant-1">
                                <h3 class="title">Groups</h3>
                                <div class="caption">
                                    <p class="list-index-counter"></p>
                                    <p>Find a community that interests you and socialize to your heart's content</p><a
                                       asp-controller="Chat" asp-action="Groups" class="link link-white btn-link">more info</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="text-center anchor-link"><a href="#"
                            class="link icon link-gray-chateau icon-xl arrows-thin36"></a></div>
                </div>
            </section>
            <section id="cp2" class="bg-gray-lighter section-angle-gray-lighter">
                <!-- RD Parallax-->
                <div data-on="false" data-lg-on="true" class="rd-parallax">
                    <div data-speed="0.08" data-type="media" data-url="/Assets/images/bg-image-1.jpg" class="rd-parallax-layer">
                    </div>
                    <div data-speed="0.2" data-type="html" data-direction="inverse" class="rd-parallax-layer">
                        <div
                            class="shell-fluid section-top-60 section-bottom-100 section-lg-top-100 section-lg-bottom-250 section-xl-bottom-450">
                            <div class="range">
                                <div class="cell-sm-8 cell-lg-6 cell-xl-7">
                                    <article class="thumbnail-variant-2">
                                        <h3 class="title">Welcome</h3>
                                        <div class="caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Phasellus sollicitudin sodales tortor vel vehicula. 
                                                In nec arcu urna. Mauris sed lacus quam. 
                                                Praesent in pellentesque arcu. Sed auctor lorem ipsum, vel ornare.</p><a href="#" class="link link-default btn-link">more info</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center anchor-link"><a href="#"
                        class="link icon link-gray-chateau icon-xl arrows-thin36"></a></div>
            </section>
            <section id="cp3" class="bg-white section-angle-white parallax-left">
                <!-- RD Parallax-->
                <div data-on="false" data-lg-on="true" class="rd-parallax">
                    <div data-speed="0.2" data-type="media" data-url="/Assets/images/bg-image-2.jpg" class="rd-parallax-layer">
                    </div>
                    <div data-speed="0.2" data-type="html" data-direction="inverse" class="rd-parallax-layer">
                        <div
                            class="shell-fluid section-top-60 section-bottom-100 section-lg-top-100 section-lg-bottom-250 section-xl-bottom-450">
                            <div class="range range-sm-right">
                                <div class="cell-sm-8 cell-lg-7">
                                    <article class="thumbnail-variant-2">
                                        <h3 class="title">Top Monthly users</h3>
                                        <div class="caption">
                                            <ol class="list list-index">
                                                <li><a href="#" class="link link-primary">Bison</a></li>
                                                <li><a href="#" class="link link-primary">Caustic</a></li>
                                                <li><a href="#" class="link link-primary">Slimeto</a></li>
                                                <li><a href="#" class="link link-primary">Warty Toad</a></li>
                                                <li><a href="#" class="link link-primary">Vikos</a></li>
                                                <li><a href="#" class="link link-primary">Kentrell</a></li>
                                                <li><a href="#" class="link link-primary">Smurk</a></li>
                                            </ol><a href="#" class="link link-default btn-link offset-top-60">more
                                                info</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center anchor-link"><a href="#"
                        class="link icon link-gray-chateau icon-xl arrows-thin36"></a></div>
            </section>
            <section class="bg-gray-lighter section-angle-white">
                <!-- RD Parallax-->
                <div data-on="false" data-lg-on="true" class="rd-parallax">
                    <div data-speed="0.2" data-type="media" data-url="/Assets/images/bg-image-3.jpg" class="rd-parallax-layer">
                    </div>
                    <div data-speed="0.2" data-type="html" data-direction="inverse" class="rd-parallax-layer">
                        <div
                            class="shell-fluid section-top-60 section-bottom-100 section-lg-top-100 section-lg-bottom-250 section-xl-bottom-450">
                            <div class="range">
                                <div class="cell-sm-8 cell-lg-6 cell-xl-7">
                                    <article class="thumbnail-variant-2">
                                        <h3 class="title">About Us</h3>
                                        <div class="caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Proin vitae malesuada nisl. Nam dictum tristique porta. 
                                                Donec ut lacinia turpis, sed sodales nibh. 
                                                In et tempor tellus, eget dignissim turpis.</p><a href="#"
                                                class="link link-default btn-link">more info</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center anchor-link"><a href="#"
                        class="link icon link-gray-chateau icon-xl arrows-thin36"></a></div>
            </section>
            <section class="section-angle-white section-angle-mod-1">
                <!-- RD Parallax-->
                <div data-on="false" data-lg-on="true" class="rd-parallax">
                    <div class="rd-parallax-layer"></div>
                    <div data-speed="0.25" data-type="html" data-direction="inverse" class="rd-parallax-layer">
                        <div
                            class="shell-fluid section-top-60 section-bottom-100 section-lg-top-100 section-lg-bottom-250 section-xl-bottom-350">
                            <div class="range range-sm-right">
                                <div class="cell-sm-8 cell-lg-7">
                                    <article class="thumbnail-variant-2">
                                        <h3 class="title">Contacts</h3>
                                        <div class="caption">
                                            <address class="contact-info">
                                                <p>2100 Thika, <br> Kenya</p><a href="callto:#"
                                                    class="link link-gray-base offset-top-15">+25470000000</a>
                                            </address><a href="#" class="link link-default btn-link offset-top-60">more
                                                info</a><span
                                                class="copyright reveal-block offset-top-50 offset-lg-top-135">
                                                Enthusiast
                                                &#169;&nbsp;<span id="copyright-year"></span>&nbsp; • &nbsp;<a
                                                    href="privacy.html" class="link link-gray-base">Privacy
                                                    Policy</a></span>
                                            <!-- {%FOOTER_LINK}-->
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-mod"><img src="~/Assets/images/bg-image-4-733x1200.jpg" alt="" width="733" height="1200"
                        class="img-responsive" />
                </div>
            </section>
        </main>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
                    <button title="Share" class="pswp__button pswp__button--share"></button>
                    <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
                    <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
                <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Java script-->
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    <!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9FT69');</script>
    <!-- End Google Tag Manager -->
</body>

</html>