@model RegisterViewModel


@section css {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" />
}


@{
    ViewData["Title"] = "Register";
}


	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Register</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form role="form" asp-action="Register" asp-controller="Users" method="post">
					<input class="text" type="text" name="Name" asp-for="Name" placeholder="Username" />
					<span asp-validation-for="Name" class="text-danger"></span>
					<input class="text email" type="email" name="Email" asp-for=Email placeholder="Email" />
					<span asp-validation-for="Email" class="text-danger"></span>
					<input class="text" type="password" name="Password" asp-for=Password placeholder="Password" />
					<span asp-validation-for="Password" class="text-danger"></span>
					<input class="text w3lpass" type="password" name="Confirmpassword" asp-for=ConfirmPassword placeholder="Confirm Password" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input id="submit-register" type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a asp-area="" asp-controller="Users" asp-action="Login"> Login Now!</a></p>
			</div>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>