@model List<Group>
@{
    Layout = null;
}

<h2>Group Chat</h2>
<h4>Create Group</h4>
<form id="createGroupForm">
    <label for="groupName">Group Name: </label>
    <input type="text" name="groupName" id="groupName" required/>
    <button type="submit">Create Group</button>
</form>
<ul>
    @foreach(var group in Model)
    {
        <li>
            <P id="identifier">@group.GroupName</P>
                <input type="hidden" name="groupId" value="@group.Id" id="idGroup"/>
                <button type="button" class="joinButton">Join</button>
            <a asp-action="GroupDetails" asp-controller="Chat" asp-route-groupId="@group.Id">View Messages</a>
        </li>
    }
</ul>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build();

        document.getElementById("createGroupForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var groupName = document.getElementById("groupName").value;
            console.log(`${groupName} group create attempt` );
            connection.invoke("CreateGroup", groupName).catch(function (err) {
                return console.error(err.toString());
            });
        });

        // Handle joining groups
        window.onload = () =>
        {
        var joinButtons = document.querySelectorAll(".joinButton");
        joinButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {
                //event.preventDefault();
                var groupIdStr = button.previousElementSibling.value;
                var groupId = parseInt(groupIdStr, 10);
                var groupName = document.getElementById("identifier").innerHTML;
                console.log(`Group ${groupName} join attempt`);
                connection.invoke("JoinGroup", groupId, groupName).catch(function (err) {
                    console.log("Group join failed due to", err);
                    return console.error(err.toString());
                });
            });
        });
        };

        // Handle the AlreadyJoinedGroup event
        connection.on("AlreadyJoinedGroup", function (groupId) {
            var groupName = document.getElementById("groupName").value;
            window.alert(`You are already in group ${groupName}`);
        });

        connection.start().then(function() {
            console.log("SignalR Connection started succesfully");
        }).catch(function (err) {
            return console.error(err.toString());
        });
</script>
